src/conf/campaign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tumri.com/campaign" xmlns:tns="http://www.tumri.com/campaign" elementFormDefault="qualified">
    <element name="list" type="tns:CampaignDef">
    </element>
    <complexType name="CampaignDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="Campaign" type="tns:Campaign" />
        </sequence>
    </complexType>
    <complexType name="Campaign">
        <choice maxOccurs="unbounded" minOccurs="0">
         <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="insertionOrderId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="budgetAllocated" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="budgetConsumed" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="flightStart" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="flightEnd" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="status" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="clientId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="clientName" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adpods" type="tns:adpodsDef"/>
            <element name="adGroups" type="tns:adGroupsDef" maxOccurs="1" minOccurs="0"/>
            <element name="roiTargetsList" type="tns:roiTargetsListDef" maxOccurs="1" minOccurs="0"/>
            <element name="paymentModelsList" type="tns:paymentModelsListDef" maxOccurs="1" minOccurs="0"/>
            <element name="includedTargetsList" type="tns:targetsListDef" maxOccurs="1" minOccurs="0"/>
            <element name="excludedTargetsList" type="tns:targetsListDef" maxOccurs="1" minOccurs="0"/>
            <element name="urlsList" type="tns:UrlCampaignMappingDef" maxOccurs="1" minOccurs="0"/>
            <element name="geoList" type="tns:GeoCampaignMappingDef" maxOccurs="1" minOccurs="0"/>
         </choice>
    </complexType>

    <complexType name="GeoCampaignMappingDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="GeoCampaignMapping" type="tns:GeoCampaignMapping" />
        </sequence>
    </complexType>

    <complexType name="GeoCampaignMapping">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="GeoValue" type="tns:GeoValueDef" maxOccurs="1" minOccurs="0"/>
           <element name="type" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="UrlCampaignMappingDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="UrlCampaignMapping" type="tns:UrlCampaignMapping" />
        </sequence>
    </complexType>

    <complexType name="UrlCampaignMapping">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="urlId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="weight" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="targetsListDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="target" type="tns:TargetInfo" />
        </sequence>
    </complexType>

    <complexType name="TargetInfo">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="displayName" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="targetTypeId" type="string" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="paymentModelsListDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="paymentModel" type="tns:PaymentModel" />
        </sequence>
    </complexType>

    <complexType name="PaymentModel">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="paymentType" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="budget" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="startDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="endDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="budgetType" type="boolean" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="roiTargetsListDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="roiTarget" type="tns:ROITarget" />
        </sequence>
    </complexType>

    <complexType name="ROITarget">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="basis" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="roiSensitivity" type="int" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="adGroupsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="AdGroup" type="tns:AdGroup" />
        </sequence>
    </complexType>

    <complexType name="AdGroup">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="displayName" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="ownerId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
           <element name="adPodsList" type="tns:adpodsDef" maxOccurs="1" minOccurs="0"/>
           <element name="status" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="removedAdPods" type="tns:AdPod" maxOccurs="unbounded" minOccurs="0"/>
           <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="urlsList" type="tns:urlsDef" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="urlsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="URL" type="tns:URL" />
        </sequence>
    </complexType>

    <complexType name="URL">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
           <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="ownerId" type="int" maxOccurs="1" minOccurs="0"/>
           <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
           <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
           <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="adpodsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="AdPod" type="tns:AdPod" />
        </sequence>
    </complexType>

    <complexType name="AdPod">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="adGroupId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="displayName" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="isFeatured" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="clientId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="clientName" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="startDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="endDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="rank" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="partingId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="frequencyId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="status" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="ListingSpec" type="tns:ListingSpec"/>
            <element name="adTypeId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adType" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="overrideTargets" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="AdPodGeoTargets" type="tns:AdPodGeoTargetDef"/>
            <element name="AdPodUrlTargets" type="tns:AdPodUrlTargetDef"/>
            <element name="Tests" type="tns:TestDef"/>
            <element name="Recipes" type="tns:RecipeDef"/>
            <element name="Locations" type="tns:LocationDef"/>
            <element name="AdPodExternalVariableTargets" type="tns:AdPodExternalVariableTargetDef"/>
        </choice>
  </complexType>
   <complexType name="LocationDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="Location" type="tns:Location" />
        </sequence>
    </complexType>
    <complexType name="Location">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="externalId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="adTypeId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adType" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="clientId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="clientName" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="clientType" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="campaignId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="campaignName" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
  </complexType>
  <complexType name="ListingSpecDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ListingSpec" type="tns:ListingSpec" />
        </sequence>
    </complexType>
    <complexType name="ListingSpec">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="source" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="region" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publish" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="publishUrlKeywordsWithinOSpec" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="scriptKeywordsWithinOSpec" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="publicUrlKeywordsScavenger" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publicUrlKeywordsWrapper" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="tooSmallLeafCategories" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="minePubUrl" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="ListingQueries" type="tns:ListingQueryDef"/>
            <element name="removedListingQueries" type="tns:ListingQueryDef"/>
        </choice>
  </complexType>
  <complexType name="ListingQueryDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ListingQuery" type="tns:ListingQuery" />
        </sequence>
    </complexType>
    <complexType name="ListingQuery">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="ospecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="specType" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publicURL" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publicURLKeyword" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="publicURLQueryNames" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publicUrlStopWords" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="loadTimeKeywordExpression" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="weightMapComboScheme" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="lowCPC" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="highCPC" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="lowCPO" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="highCPO" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="countryFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="stateFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="cityFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="zipCodeFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="dmaCodeFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="areaCodeFilter" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="geoEnabledFlag" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="useRadiusQuery" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="allowExternalQuery" type="boolean" maxOccurs="1" minOccurs="0"/> 
            <element name="useListingFilter1" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="useListingFilter2" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="useListingFilter3" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="useListingFilter4" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="useListingFilter5" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="radius" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="globalId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publishUrlKeywordsWithinOSpec" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="scriptKeywordsWithinOSpec" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="publicUrlKeywordsScavenger" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="publicUrlKeywordsWrapper" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="tooSmallLeafCategories" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="minePubUrl" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="lowIncome" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="highIncome" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="lowPrice" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="highPrice" type="double" maxOccurs="1" minOccurs="0"/>
            <element name="applyGeoFilter" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="applyUserCookieFilter" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="applyUrlFilter" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="applyKeywordFilter" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="IncludedProviders" type="tns:IncludedProviderDef"/>
            <element name="ExcludedProviders" type="tns:ExcludedProviderDef"/>
            <element name="IncludedKeywords" type="tns:IncludedKeywordsDef"/>
            <element name="IncludedCategories" type="tns:IncludedCategoriesDef"/>
            <element name="ExcludedCategories" type="tns:ExcludedCategoriesDef"/>
            <element name="IncludedMerchants" type="tns:IncludedMerchantsDef"/>
            <element name="ExcludedMerchants" type="tns:ExcludedMerchantsDef"/>
            <element name="IncludedBrands" type="tns:IncludedBrandsDef"/>
            <element name="ExcludedBrands" type="tns:ExcludedBrandsDef"/>
            <element name="IncludedProducts" type="tns:IncludedProductsDef"/>
            <element name="ExcludedProducts" type="tns:ExcludedProductsDef"/>
            <element name="IncludedGlobalIds" type="tns:IncludedGlobalIdsDef"/>
            <element name="ExcludedGlobalIds" type="tns:ExcludedGlobalIdsDef"/>
          </choice>
  </complexType>
    <complexType name="ExcludedGlobalIdsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="GlobalIdInfo" type="tns:GlobalIdInfo" />
        </sequence>
    </complexType>
    <complexType name="IncludedGlobalIdsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="GlobalIdInfo" type="tns:GlobalIdInfo" />
        </sequence>
    </complexType>
    <complexType name="GlobalIdInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>
    
    <complexType name="IncludedProductsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ProductInfo" type="tns:ProductInfo" />
        </sequence>
    </complexType>
     <complexType name="ExcludedProductsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ProductInfo" type="tns:ProductInfo" />
        </sequence>
    </complexType>

    <complexType name="ProductInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>

    <complexType name="IncludedMerchantsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="MerchantInfo" type="tns:MerchantInfo" />
        </sequence>
    </complexType>
     <complexType name="ExcludedMerchantsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="MerchantInfo" type="tns:MerchantInfo" />
        </sequence>
    </complexType>

    <complexType name="MerchantInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>

    <complexType name="IncludedBrandsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="BrandInfo" type="tns:BrandInfo" />
        </sequence>
    </complexType>
     <complexType name="ExcludedBrandsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="BrandInfo" type="tns:BrandInfo" />
        </sequence>
    </complexType>

    <complexType name="BrandInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="displayName" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>

     <complexType name="IncludedCategoriesDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="CategoryInfo" type="tns:CategoryInfo" />
        </sequence>
    </complexType>
     <complexType name="ExcludedCategoriesDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="CategoryInfo" type="tns:CategoryInfo" />
        </sequence>
    </complexType>

    <complexType name="CategoryInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="displayName" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>

     <complexType name="IncludedKeywordsDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="KeywordInfo" type="tns:KeywordInfo" />
        </sequence>
    </complexType>

    <complexType name="KeywordInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="tspecId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>

  <complexType name="IncludedProviderDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ProviderInfo" type="tns:ProviderInfo" />
        </sequence>
    </complexType>
     <complexType name="ExcludedProviderDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="ProviderInfo" type="tns:ProviderInfo" />
        </sequence>
    </complexType>
    <complexType name="ProviderInfo">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
   </complexType>
  <complexType name="AdPodGeoTargetDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="AdPodGeoTarget" type="tns:AdPodGeoTarget" />
        </sequence>
    </complexType>
    <complexType name="AdPodGeoTarget">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adPodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="type" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="geoValue" type="tns:GeoValueDef"/>
        </choice>
   </complexType>
   <complexType name="AdPodUrlTargetDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="AdPodUrlTarget" type="tns:AdPodUrlTarget" />
        </sequence>
    </complexType>
    <complexType name="AdPodUrlTarget">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="urlId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adPodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="weight" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
        </choice>
    </complexType>
    <complexType name="AdPodExternalVariableTargetDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="AdPodExternalVariableTarget" type="tns:AdPodExternalVariableTarget" />
        </sequence>
    </complexType>
    <complexType name="AdPodExternalVariableTarget">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adPodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="value" type="string" maxOccurs="1" minOccurs="0"/>
        </choice>
    </complexType>
    <complexType name="TestDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="Test" type="tns:Test" />
        </sequence>
    </complexType>
    <complexType name="Test">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="adPodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="status" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="type" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="startDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="endDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="TestRecipeMappings" type="tns:TestRecipeMappingDef"/>
        </choice>
    </complexType>
    <complexType name="TestRecipeMappingDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="TestRecipeMapping" type="tns:TestRecipeMapping" />
        </sequence>
    </complexType>
    <complexType name="TestRecipeMapping">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="recipeId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="adPodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="weight" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="testId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="Test" type="tns:Test" />
            <element name="Recipe" type="tns:Recipe" />
       </choice>
   </complexType>
    <complexType name="RecipeDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="Recipe" type="tns:Recipe" />
        </sequence>
    </complexType>
    <complexType name="Recipe">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="adpodId" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="weight" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="design" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="winningRecipe" type="boolean" maxOccurs="1" minOccurs="0"/>
            <element name="Properties" type="tns:PropertyDef"/>
            <element name="RecipeInfoList" type="tns:RecipeInfoDef"/>
        </choice>
   </complexType>
   <complexType name="PropertyDef">
        <sequence maxOccurs="unbounded" minOccurs="0">
           <element name="Property" type="tns:Property" />
        </sequence>
    </complexType>
    <complexType name="Property">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="name" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="title" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="value" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="type" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="group" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="updateDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="rowVersion" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="id" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="recipeId" type="int" maxOccurs="1" minOccurs="0"/>
        </choice>
    </complexType>
    <complexType name="RecipeInfoDef">
    <sequence maxOccurs="unbounded" minOccurs="0">
       <element name="RecipeInfo" type="tns:RecipeInfo" />
    </sequence>
   </complexType>
   <complexType name="RecipeInfo">
    <choice maxOccurs="unbounded" minOccurs="0">
        <element name="id" type="int" maxOccurs="1" minOccurs="1"/>
        <element name="recipeId" type="int" maxOccurs="1" minOccurs="0"/>
        <element name="ownerId" type="string" maxOccurs="1" minOccurs="0"/>
        <element name="creationDate" type="long" maxOccurs="1" minOccurs="0"/>
        <element name="listingQueryName" type="string" maxOccurs="1" minOccurs="0"/>
        <element name="slotName" type="string" maxOccurs="1" minOccurs="0"/>
        <element name="tspecid" type="int" maxOccurs="1" minOccurs="0"/>
        <element name="slotid" type="string" maxOccurs="1" minOccurs="0"/>
        <element name="numprods" type="int" maxOccurs="1" minOccurs="0"/>
        <element name="seqid" type="int" maxOccurs="1" minOccurs="0"/>
       </choice>
  </complexType>

  <complexType name="GeoValueDef">
    <sequence maxOccurs="1" minOccurs="0">
       <element name="string" type="string" />
    </sequence>
   </complexType>
</schema>